---
import { tv } from 'tailwind-variants';
import { Icon } from 'astro-icon/components'

import Button from '../atoms/Button';
import Container from '../layouts/Container.astro';
import Wrapper from '../layouts/Wrapper';

import { Image } from 'astro:assets';
import ImgCtaBlock from '../../img/cta-block.jpg';
import Logo, { LogoSize } from '../atoms/Logo';
import { IconName } from '../atoms/Icon';

/* Types */
export interface FooterData {
  logo?: {
    label: string;
    href: string;
  };
  nav: {
    label: string;
    href: string;
    subnav?: {
      label: string;
      href: string;
    }[];
  }[];
  newsletter: {
    title: string;
    placeholder: string;
  };
  offices: Array<string>;
  socials: {
    name: string;
    icon: string;
    href: string;
  }[];
  copyright: string;
  legalNav: {
    label: string;
    href: string;
  }[];
}

interface Props {
  data: FooterData;
}

/* Style */
const footerHeadingLink = tv({
  base: [
    "text-sm font-semibold text-black hover:underline"
  ],
});

const footerLink = tv({
  base: [
    "text-xs font-regular text-black opacity-60 hover:opacity-100"
  ],
});

/* Component */
const { data } = Astro.props;
const { logo, nav, legalNav, copyright, offices, newsletter } = data;
---
<div>
  <Wrapper className="-mb-20 z-10 relative">
    <Container>
      <!-- Bubble Commente -->
      <div class="w-full bg-black rounded-xl flex items-stretch flex-col-reverse lg:flex-row overflow-hidden">
        <div class="bg-white/[.2] px-6 py-8 lg:px-9 lg:py-9 w-full  lg:w-auto">
          <div class="h-5 lg:h-auto"></div>
          <div class=" flex items-center gap-6">
            <Image class={`aspect-square rounded-lg max-w-24`} src={ImgCtaBlock} alt="." />
            <div class="text-white text-nowrap">
              <p class="font-semibold text-lg leading-tight">Time Rogier</p>
              <p class="text-sm">CEO</p>
            </div>
            <div class="lg:w-5"></div>
          </div>
        </div>
        <div class="flex flex-col items-start lg:flex-row gap-6 lg:gap-9 lg:items-center rounded-xl bg-black -mb-5 lg:mb-0 ml-0 lg:-ml-5 px-6 py-8 lg:px-9 lg:py-9 relative w-full lg:w-none">
          <Icon name="arrow-bubble-prev" class={[
            `lg:top-1/2 lg:bottom-auto lg:-translate-y-1/2 lg:-left-[3px] lg:rotate-0 lg:origin-top-left`,
            `absolute bottom-0 -translate-x-1/2 left-1/2 translate-y-[6px] -rotate-90 origin-bottom-left`,
            ].join(' ')}/>
          <div class="text-white text-lg"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum voluptas accusantium cum odio nam nesciunt illo nostrum quia.</p></div>
          <Button data={{
            label: "Schedule Call",
            icon: IconName.Chat,
          }} className="shrink-0" />
        </div>
      </div>
    </Container>
  </Wrapper>
  <Wrapper className={"bg-gray-100 pt-20"}>
    <Container>
      <!-- Footer Body -->
      <div class="flex flex-wrap items-left lg:items-start lg:flex-nowrap gap-x-6 gap-y-14 py-16 sm:py-28">
        <!-- Col 1 -->
        <div class="order-3 lg:order-none w-col3 flex flex-col gap-8">
          {logo && (<Logo size={LogoSize.Medium} data={{ label : "black sun agency", href:"#"}}/>)}
          <ul class="flex gap-1 opacity-45 text-black text-sm">
            {offices.map((city, index)=>
              <>
                <li>
                  {city}
                </li>
                {index !== offices.length - 1 && (<li>|</li>)}
              </>
            )}
          </ul>
          <ul class="flex gap-3">
            {data.socials.map((social) => (
              <li>
                <a href={social.href} class="text-black hover:opacity-50 transition-all" aria-label={social.name}>
                  <Icon name={social.icon} class="w-[20px] h-[20px]"/>
                </a>
              </li>
            ))}
          </ul>
        </div>
        <!-- Col 2 & 3 -->
        <nav class="order-2 lg:order-none flex gap-6 w-full lg:w-col6">

          {nav.map((item)=>(
            item.subnav && (
              <ul class="flex flex-col gap-3 w-col2">
                <li>
                  <a href={item.href} class={footerHeadingLink()}>{item.label}</a>
                </li>
                {item.subnav && (item.subnav.map((item) => (
                  <li>
                    <a href={item.href} class={footerLink()}>{item.label}</a>
                  </li>
                )))}
              </ul>
            )
          ))}

          <ul class="flex flex-col gap-3 w-col2">
            {nav.map((item)=>(
                !item.subnav && (
                  <li>
                    <a href={item.href} class={footerHeadingLink()}>{item.label}</a>
                  </li>
                )
            ))}
          </ul>

        </nav>
        <!-- Col Newsletter -->
         <div class="grow hidden lg:block"></div>
         <div class="order-1 lg:order-none w-full lg:w-col3">
          <p class="text-sm font-semibold mb-2">{newsletter.title}</p>
          <div class="relative">
            <input type="email" class="border-b-2 border-black w-full bg-transparent outline-none py-2 focus-visible:border-primary" placeholder={newsletter.placeholder}>
            <Icon name="arrow-next" class="absolute right-0 top-1/2 -translate-y-1/2 mb-[2px]"/>
          </div>
         </div>
      </div>
       <!--/ Footer Foot -->
       <div class="border-t-[1px] border-black/[.2] py-5 flex flex-wrap gap-x-8 gap-y-5  justify-between">
          <p class="text-sm text-black/[.3]">{copyright}</p>
          <ul class="flex gap-x-8 gap-y-3 flex-wrap">
            {legalNav.map((item) => (
              <li class="inline-block">
                <a class="text-sm opacity-50 hover:opacity-70 transition-colors" href={item.href}>{item.label}</a>
              </li>
            ))}
          </ul>
       </div>
    </Container>
  </Wrapper>
</div>