---
import RichText from '../atoms/RichText.astro';
import Title, { TitleSize, TitleTag } from '../atoms/Title.astro';
import Section from '../layouts/Section.astro';

import { Image } from 'astro:assets';

export interface SectionClientsItemsData {
  src: ImageMetadata;
  alt: string;
}

export interface SectionClientsData {
  title: string;
  text: string;
  items: SectionClientsItemsData[]
}

interface Props {
  data: SectionClientsData
}

const { data } = Astro.props;
const { title, text, items } = data;

---
<Section gray>
    <div class="mb-14 sm:mb-20">
      <Title size={TitleSize.Medium} tag={TitleTag.H2} className='mb-4'>
        {title}
      </Title>
      <RichText className="max-w-[450px]" rawHtml={text}/>
    </div>
    <ul class={[
        "w-full",
        "lg:flex lg:items-center lg:gap-10 lg:justify-between",
        "grid grid-cols-3 gap-10 items-center justify-between",
      ].join(' ')}>
      {items.map((item, index) => (
        <li class={index === 0 || index % 3 === 0 ? "flex justify-start" : (index + 1) % 3 === 0 ? "flex justify-end":'flex justify-center'}>
          <Image class={"max-w-[6.56rem] max-h-[3.25rem] sm:max-w-none sm:max-h-none" /* 105/16=6.56, 52/16=3.25 */} src={item.src} alt={item.alt}/>
        </li>
      ))}
    </ul>
</Section>