---
import HeroLandingWidgets, { type HeroLandingWidgetsData } from './HeroLandingWidgets.astro';
import Button, { type ButtonData } from '../../atoms/Button';
import Section from '../../layouts/Section.astro';
import Title, { TitleSize, TitleTag } from '../../atoms/Title.astro';
import RichText from '../../atoms/RichText.astro';

export interface HeroLandingData {
  suptitle: string;
  title: string;
  text: string;
  button?: ButtonData;
  widgets: HeroLandingWidgetsData
}

interface Props {
  data: HeroLandingData;
}

const { data } = Astro.props;
const { suptitle, title, text, button, widgets } = data;
---
<Section>
  <div class="mx-auto flex flex-col md:flex-row justify-between gap-14 items-start">
    <div class={`w-full md:w-1/2 md:max-w-[28.25rem]` /* 452px / 16 = 28.25rem */ }>
      <Title size={TitleSize.Small} tag={TitleTag.Span} className="mb-1">{suptitle}</Title>
      <Title size={TitleSize.Large} tag={TitleTag.H1} className="mb-4">{title}</Title>
      <RichText rawHtml={text}/>
      {button && (<Button data={{...button}} className="mt-9"/>	)}
    </div>
    <div class={`w-full md:w-1/2`}>
      <HeroLandingWidgets data={widgets} />					
    </div>
  </div>
</Section>